
<html>
<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/bootstrap.min.css') }}">

<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<head>
</head>
<header>
   <div class="navbar-header">

<a class="navbar-brand" href="/">
   <img style="max-width:150px; margin-top: -7px;" src="{{ url_for('static', filename='image/mainlogo.png') }}">

</a>
    </div>
    <!-- Write your comments here -->
<div class="container-fluid">
	<ul class="nav nav-pills">
		<a href="/dashboard/"><button type="button" class="btn btn-primary" style=" margin-top: 5px; margin-bottom: 5px; height:44px; margin-right: 15px">
			<span class="glyphicon glyphicon-off"></span> Start Learning
		</button></a>
<!-- Write your comments here -->

      <ul class="nav navbar-nav navbar-right">

	  <div style="margin-right: 10px; margin-left: 15px; margin-top: 5px; margin-bottom: 5px;" class="container-fluid">


    <div class="container-fluid">
<h1>

    Hello{%  if current_user.is_authenticated() %}
    {{ current_user.username }}
    {% endif %}

</h1>

    </div>
{% if current_user.is_autheticated %}
            <a href="{{ url_for('logout') }}" class="icon-power" title="Log out"><span class="glyphicon glyphicon-heart"></span>log Out</a>
{% else %}
            <a href="{{ url_for('login') }}" class="icon-power" title="Log in"><span class="glyphicon glyphicon-log-out"></span>log In</a>
            <a href="{{ url_for('register') }}" class="icon-power" title="Register"><span class="glyphicon glyphicon-log-in"></span>Register</a>

{% endif %}





<!-- Write your comments here -->
      </ul>
	</ul>
  </div>





</header>
<body>





	<div class ="container-fluid" style="min-height:100% max-width:90%">
	{%  with messages = get_flashed_messages() %}
	{%  if messages %}
	{% for message in messages %}
	<div class="alert alert-warning alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
	{{ message }}



	{% endfor %}
	{%  endif %}


</div>
	{%  endwith %}


	{%  block body %}
	 {%  endblock  %}


	</div>




<script src="//code/jquery.com/jquery-1.11.2.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type = "text/javascript" src = "{{ url_for('static', filename='js/bootstrap.min.js' )}}"></script>

	
</body>


</html>		
