
<html>

<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/bootstrap.min.css') }}">
<head>

</head>
<body>



<header>

        <div class="grid-30" margin-left="10">
            <a href="{{ url_for('index') }}" class="icon-logo"></a>

    </div>

    <div class="grid-30">
<h1>

    Hello{%  if current_user.is_authenticated() %}
    {{ current_user.username }}
    {% endif %}

</h1>

    </div>
        <div class="grid-30" style="margin-left: 500px">
{% if current_user.is_autheticated %}
            <a href="{{ url_for('logout') }}" class="icon-power" title="Log out">log Out</a>
{% else %}
            <a href="{{ url_for('login') }}" class="icon-power" title="Log in">log In</a>
            <a href="{{ url_for('register') }}" class="icon-power" title="Register">Register</a>

{% endif %}

    </div>



{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
    {% for category, message in messages %}
    <div class="notification" {{ category }}> {{ message }} </div>
{% endfor %}
{% endif %}
{% endwith %}

</header>
<div class="row">

    <div class="main" >
        <nav>
            <a href="{{ url_for('index') }}" >Home</a>

            {% if current_user.is_authenticated() %}
                <a href="{{ url_for('stream', username=current_user.username) }}">Following</a>
                <a href="{{ url_for('post') }}" class="new">Create New Post</a>
            {% endif %}
                </nav></div></div>


        {%  block content %} {% endblock %}






<footer></footer>




<script type = "text/javascript" src = "/static/js/bootstrap.js"></script>
<script type = "text/javascript" src = "/static/js/bootstrap.min.js"></script>
</body>
</html>